@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 1029px;
  background: url("../img/1-header/header-bg.svg") no-repeat center/cover;
  overflow: hidden;
  padding: 0 5px;
}

.header__nav {
  position: relative;
  margin-bottom: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto minmax(60px, 893px) auto minmax(30px, 52px) auto 1fr;
      grid-template-columns: 1fr auto minmax(60px, 893px) auto minmax(30px, 52px) auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f7bff;
  border-radius: 0px 0px 21.5px 21.5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #fff;
  min-width: 179px;
  min-height: 100px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.menu__item a {
  color: #929292;
  padding: 20px 0;
}

.menu__item a:hover {
  color: #0f7cff;
}

.btn-sign-up {
  padding: 15px 52px;
  color: #fff;
  background-color: #0063dd;
  border-radius: 25px;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
}

.btn-sign-up:hover {
  color: #fff;
}

.menu__btn {
  -ms-grid-column: 5;
      grid-column-start: 5;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #0063dd;
  border-radius: 50%;
  position: relative;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -1px;
}

.menu__btn span::before,
.menu__btn span::after {
  content: "";
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu__btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.menu__btn-active span {
  height: 0;
}

.menu__btn-active span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__btn-active span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.side__menu {
  display: none;
}

.header__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #000000;
}

.header__text {
  max-width: 655px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #929292;
  margin-bottom: 33px;
}

.header__btns {
  margin-bottom: 108px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.btn-cta {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background: #0f7bff;
  border-radius: 25px;
  padding: 14px 44px 16px 45px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.btn-second {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #0f7bff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  padding: 12px 45px 13px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.btn-hover:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.device {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -130px;
  left: -108px;
}

.device:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  top: -129px;
  left: 90px;
}

.device:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  top: -37px;
  left: 0px;
}

.btn-down {
  position: relative;
}

.btn-down-link {
  content: "";
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: -35px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #0063dd;
  background-image: url(../img/1-header/btn-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: blue-circle;
          animation-name: blue-circle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes blue-circle {
  0% {
    -webkit-box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
  }
  100% {
    -webkit-box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
  }
}

@keyframes blue-circle {
  0% {
    -webkit-box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
  }
  100% {
    -webkit-box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
  }
}

.features {
  background-color: #f5fcfd;
  position: relative;
  padding: 165px 0 180px;
  z-index: -1;
}

.features__items {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature__item {
  max-width: 31%;
  padding: 40px 20px 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
}

.feature__item:nth-child(2) {
  position: relative;
  top: 48px;
}

.feature__img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.feature__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 25px;
}

.feature__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 48px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  padding: 0 5px;
}

.about__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 40%;
      grid-template-columns: 48% 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 233px;
  position: relative;
}

.about__item:nth-child(even) .about-img-back {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about__item:last-child {
  margin-bottom: 116px;
}

.about-img-back {
  position: relative;
  z-index: 1;
}

.about-img-back .about__img {
  border-radius: 20px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.about-img-back::before {
  content: "";
  position: absolute;
  width: 389.71px;
  height: 482.98px;
  top: -50px;
  background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);
  border-radius: 40px;
  -webkit-transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
          transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.about__item:nth-child(even) .about-img-back::before {
  background: linear-gradient(272deg, #0f7bff 4.58%, #0063dd 78.9%);
  border-radius: 40px;
  -webkit-transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
          transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  top: 30px;
  right: 0px;
}

.about__info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 30px;
}

.about__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 30px;
}

.btn-read-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0063dd;
  position: relative;
}

.btn-read-more span::after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 16px;
  top: 3px;
  left: 95px;
  background: url("../img/3-about/arrow-read-more.svg") no-repeat 0 0;
}

.work {
  background: #f5fcfd;
  padding-top: 119px;
  padding-bottom: 137px;
}

.work__title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 25px;
}

.work__text {
  text-align: center;
  max-width: 722px;
  margin: 0 auto 45px;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.work__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/4-work/Line.svg") no-repeat center 50px;
  background-size: 68%;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.step__image {
  margin-bottom: 30px;
}

.step__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.step__text {
  text-align: center;
  font-weight: 300;
  line-height: 150%;
  max-width: 333px;
}

.price {
  margin: 130px 0;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

.price__info {
  width: 32%;
}

.info__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
}

.info__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

.info__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.info__btn-month {
  background: #ffffff;
  border: 3px solid #0f7bff;
  border-radius: 25px 0px 0px 25px;
  padding: 14px 50px 16px;
  color: #0063dd;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
}

.info__btn-year {
  background: #ffffff;
  border: 3px solid #0f7bff;
  border-radius: 0px 25px 25px 0px;
  padding: 14px 55px 16px;
  color: #0063dd;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  position: relative;
  left: -3px;
}

.checked {
  background: #0f7bff;
  color: #fff;
}

.price__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.price__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 576px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
  border-radius: 5px;
  padding: 40px 15px 46px;
}

.card__img {
  width: 114px;
  height: 114px;
  margin-bottom: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 48px;
}

.card__line {
  position: absolute;
  top: 38%;
  width: 83%;
  height: 2px;
  background-color: #e9f3f8;
}

.card__advantages {
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  text-align: center;
  margin-bottom: 26px;
}

.card__price {
  font-weight: 500;
  font-size: 32px;
  line-height: 22px;
  color: #0f7bff;
  margin-bottom: 25px;
}

.card__price:first-letter {
  font-size: 18px;
}

.card__btn-primary {
  text-align: center;
  background: #0f7bff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  padding: 15px 49px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card__btn-secondary {
  text-align: center;
  background: #ffffff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0f7bff;
  padding: 15px 49px;
}

.testimonials {
  background: #f5fcfd;
  position: relative;
  overflow: hidden;
}

.testimonials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 17%;
          column-gap: 17%;
}

.testimonials__back {
  width: 25%;
  overflow: visible;
}

.testimonials__content {
  padding-top: 113px;
  padding-bottom: 144px;
}

.testimonials__img {
  position: relative;
  right: 600px;
}

.testimonials__title {
  overflow: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: unset;
  margin-bottom: 37px;
}

.review__card {
  max-width: 362px;
  padding: 40px 0 40px 30px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  background: #fff;
  position: relative;
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.review-card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.review-card__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
  margin-bottom: 25px;
}

.review-card__img {
  position: absolute;
  top: 50px;
  right: 40px;
}

.review-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  width: 12px;
  height: 12px;
  background: #f5fcfd;
  border: 2px solid #0063dd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  margin-right: 8px;
}

.pagination-active {
  width: 38px;
  background: #0063DD;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 131px 5px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 106px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 22px;
}

.news__text {
  max-width: 722px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 42px;
}

.news__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(132px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item:first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__item:first-child .news-item__img {
  width: 100%;
  height: 290px;
  margin-bottom: 30px;
}

.news__item:first-child .news-item__title {
  padding-left: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #0063dd;
  margin-bottom: 25px;
}

.news__item:first-child .news-item__text {
  padding-left: 0;
  margin-bottom: 35px;
}

.news__item:first-child .news-item__link span::after {
  left: 150px;
  top: 5px;
}

.news-item__img {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
  width: 166px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 27px;
}

.news-item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 32px;
}

.news-item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5fcfd;
  padding-top: 133px;
  padding-bottom: 113px;
}

.trial__content {
  width: 754px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trial__text {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.trial__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 25px;
}

.trial__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.trial__btn {
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #0f7bff;
  border-radius: 25px;
  padding: 14px 111px 14px 68px;
  position: relative;
}

.trial__btn span:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 16px;
  top: 16px;
  left: 166px;
  background: url("../img/8-trial/white-arrow.svg") no-repeat;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f7bff;
  padding: 118px 0;
}

.subscribe__logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
  margin-bottom: 30px;
}

.subscribe__form {
  width: 558px;
  position: relative;
}

.subscribe__input {
  width: 100%;
  background: #0063dd;
  border-radius: 25px 25px 25px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding: 12px 0 14px 28px;
}

.subscribe__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.subscribe__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.subscribe__input::-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.subscribe__input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.subscribe__input-btn {
  cursor: pointer;
  float: right;
  position: absolute;
  right: 0px;
  padding: 12px 40px 14px;
  background: #fff;
  border-radius: 0px 25px 25px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #0063dd;
}

.footer {
  background: #0063dd;
  padding: 50px 5px;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-right: 6%;
  margin-left: auto;
}

.footer__info a {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.footer__info a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10%;
}

.footer__social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__btn-up {
  position: absolute;
  right: -20%;
  width: 70px;
  height: 70px;
  background: #fff url("../img/10-footer/btn-up.svg") no-repeat center;
  border-radius: 100%;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
  width: 100%;
}

.wrapper {
  max-width: 1146px;
  margin: 0 auto;
}

@media (max-width: 1700px) {
  .footer__btn-up {
    display: none;
  }
}

@media (max-width: 1020px) {
  .header {
    background: transparent;
  }
  .header__menu,
  .btn-sign-up {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .devices {
    display: none;
  }
  .side__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    margin-right: 5px;
    right: 0;
    top: 80px;
    background: #0063dd;
    border-radius: 25px;
  }
  .side__menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .side__item {
    padding: 20px 60px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .side__item:hover {
    text-decoration: underline;
  }
  .side__item:first-child {
    padding-top: 40px;
  }
  .side__item:last-child {
    padding-bottom: 40px;
  }
  .about-img-back::before {
    display: none;
  }
  .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price__info {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .price__cards {
    width: 90%;
  }
  .testimonials__back {
    display: none;
  }
  .testimonials__content {
    padding-left: 15px;
  }
  .news__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .trial__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
  }
  .footer__info {
    width: auto;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    margin: 0;
  }
  .footer__socials {
    width: auto;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .feature__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 90%;
  }
  .feature__item:nth-child(2) {
    top: 0;
  }
  .about__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about__item:nth-child(even) .about-img-back {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .about__title {
    margin-top: 30px;
  }
  .work__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 80px;
    background-image: unset;
  }
  .price__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .info__btn-month {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info__btn-year {
    padding-left: 25px;
    padding-right: 25px;
  }
  .testimonials__title {
    width: 100vw;
  }
  .testimonials .review__card {
    max-width: 256px;
  }
  .news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-item__img {
    width: 100%;
  }
  .news__title {
    text-align: center;
  }
  .trial__content {
    max-width: 100vw;
    text-align: center;
  }
  .subscribe__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .subscribe__input-btn {
    float: unset;
    position: relative;
    border-radius: 25px;
  }
}
