@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 1029px;
  background: url("../img/1-header/header-bg.svg") no-repeat right bottom;
  overflow: hidden;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 88px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f7bff;
  border-radius: 0px 0px 21.5px 21.5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #fff;
  min-width: 179px;
  min-height: 100px;
  margin: 0 auto;
}

.header__menu {
  min-width: 572px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.menu__item a {
  color: #929292;
  padding: 20px 0;
}

.menu__item a:hover {
  color: #0f7cff;
}

.btn-sign-up a {
  padding: 15px 51px;
  color: #fff;
  background-color: #0063dd;
  border-radius: 25px;
}

.btn-sign-up a:hover {
  color: #fff;
}

.header__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #000000;
}

.header__text {
  max-width: 655px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #929292;
  margin-bottom: 33px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 108px;
}

.header__btns .btn-secondary {
  margin-left: 30px;
}

.btn-primary {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background: #0f7bff;
  border-radius: 25px;
  padding: 17px 44px 15px;
}

.btn-secondary {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #0f7bff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  padding: 15px 44px 17px;
}

.btn-hover:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.device {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -135px;
  left: -108px;
}

.device:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  top: -135px;
  left: 90px;
}

.device:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  top: -42px;
  left: 0px;
}

.btn-down::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 994px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #0063dd;
  background-image: url(../img/1-header/btn-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: blue-circle;
          animation-name: blue-circle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes blue-circle {
  0% {
    -webkit-box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
  }
  100% {
    -webkit-box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
  }
}

@keyframes blue-circle {
  0% {
    -webkit-box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
  }
  100% {
    -webkit-box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
            box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
  }
}

.features {
  background-color: #f5fcfd;
  position: relative;
  padding: 165px 0 180px;
  z-index: -2;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.feature__item {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
  padding-top: 40px;
}

.feature__item:last-child {
  margin-right: 0;
}

.feature__item:nth-child(2) {
  position: relative;
  top: 48px;
}

.feature__img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.feature__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 25px;
}

.feature__text {
  max-width: 333px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 48px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  padding: 0 15px;
  z-index: 10;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 233px;
  position: relative;
}

.about__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item:last-child {
  margin-bottom: 116px;
}

.about-img-back::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 389.71px;
  height: 482.98px;
  top: -50px;
  background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);
  border-radius: 40px;
  -webkit-transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
          transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
}

.about__item:nth-child(even) .about-img-back::after {
  background: linear-gradient(272deg, #0f7bff 4.58%, #0063dd 78.9%);
  border-radius: 40px;
  -webkit-transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
          transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  top: 30px;
  right: -100px;
}

.about__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.about__info {
  padding-top: 94px;
  max-width: 461px;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 30px;
}

.about__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 30px;
}

.btn-read-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0063dd;
  position: relative;
}

.btn-read-more span::after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 16px;
  top: 3px;
  left: 95px;
  background: url("../img/3-about/arrow-read-more.svg") no-repeat 0 0;
}

.work {
  background: #f5fcfd;
  padding-top: 119px;
  padding-bottom: 137px;
}

.work__title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 25px;
}

.work__text {
  text-align: center;
  max-width: 722px;
  margin: 0 auto 45px;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.work__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/4-work/Line.svg") no-repeat center 50px;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.step__image {
  margin-bottom: 30px;
}

.step__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.step__text {
  text-align: center;
  font-weight: 300;
  line-height: 150%;
  max-width: 333px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  color: #000;
}

.wrapper {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 15px;
}
