.features {
	background-color: #f5fcfd;
	position: relative;
	padding: 165px 0 180px;
	z-index: -1;
}
.features__items {
	display: flex;
	justify-content: space-between;
}
.feature__item {
	width: 362px;
	flex-shrink: 1;
	flex-grow: 0;
	justify-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
	border-radius: 5px;
	padding-top: 40px;
	&:nth-child(2) {
		position: relative;
		top: 48px;
	}
}
.feature__img {
	width: 70px;
	height: 70px;
	margin-bottom: 25px;
}
.feature__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	margin-bottom: 25px;
}
.feature__text {
	max-width: 333px;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000;
	margin-bottom: 48px;
}
