.header {
	display: flex;
	flex-direction: column;
	max-height: 1029px;
	// background: url("../img/1-header/header-bg.svg") no-repeat right bottom;
	background: url("../img/1-header/header-bg.svg") no-repeat center / cover;
	overflow: hidden;
	padding: 0 5px;
}
.header__nav {
	position: relative;
	// width: 1644px;
	// margin: 0 auto;
	// display: flex;
	// justify-content: space-between;
	margin-bottom: 88px;
	display: grid;
	grid-template-columns: 1fr auto minmax(60px, 893px) auto minmax(30px, 52px) auto 1fr;
	align-items: center;
}
.header__logo {
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background: #0f7bff;
	border-radius: 0px 0px 21.5px 21.5px;
	font-size: 36px;
	font-weight: 700;
	line-height: 45px;
	color: #fff;
	// text-align: center;
	// padding-top: 25px;
	min-width: 179px;
	min-height: 100px;
	// margin: 0 auto;
	grid-column-start: 2;
	grid-column-end: 3;
}
.header__menu {
	// min-width: 572px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 40px;
	align-items: center;
	// position: relative;
	// align-items: center;
	// justify-content: space-between;
	// margin: 0 auto;
	grid-column-start: 4;
	grid-column-end: 5;
}
.menu__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	& a {
		color: #929292;
		padding: 20px 0;
	}
	& a:hover {
		color: #0f7cff;
		// text-decoration: underline; //мб убрать
	}
}
.btn-sign-up {
	padding: 15px 52px;
	color: #fff;
	background-color: #0063dd;
	border-radius: 25px;
	grid-column-start: 6;
	grid-column-end: 7;
	&:hover {
		color: #fff;
	}
}
.menu__btn {
	grid-column-start: 5;
	display: none;
	width: 50px;
	height: 50px;
	background-color: #0063dd;
	border-radius: 50%;
	position: relative;

	& span,
	& span::before,
	& span::after {
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: #fff;
		left: 50%;
		margin-left: -10px;
		top: 50%;
		margin-top: -1px;
	}

	& span::before,
	& span::after {
		content: "";
		display: block;
		transition: 0.2s;
	}
	& span::before {
		transform: translateY(-5px);
	}
	& span::after {
		transform: translateY(5px);
	}

	&-active {
		& span {
			height: 0;
		}
		& span::before {
			transform: rotate(-45deg);
		}
		& span::after {
			transform: rotate(45deg);
		}
	}
}
.side__menu{
	display: none;
}
.header__title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 700;
	line-height: 45px;
	color: #000000;
}
.header__text {
	max-width: 655px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	color: #929292;
	margin-bottom: 33px;
}
.header__btns {
	// display: flex;
	// justify-content: center;
	// margin: 0 auto 108px;
	margin-bottom: 108px;
	// & .btn-secondary {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
}
.btn-cta {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #ffffff;
	background: #0f7bff;
	border-radius: 25px;
	padding: 14px 44px 16px 45px;
	justify-self: end;
}
.btn-second {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #0f7bff;
	border: 2px solid #0f7bff;
	border-radius: 25px;
	padding: 12px 45px 13px;
	justify-self: start;
}
.btn-hover:hover {
	// box-shadow: 0 0 20px 10px rgba(0, 99, 221, 0.25);
	transition: 0.4s;
	transform: scale(1.05);
}
.devices {
	display: flex;
	justify-content: center;
	align-items: center;
	// position: relative;
}
.device {
	object-fit: contain;
	position: relative;
	top: -130px;
	left: -108px;
	&:first-child {
		order: -2;
		top: -129px;
		left: 90px;
	}
	&:last-child {
		order: -1;
		top: -37px;
		left: 0px;
	}
}
.btn-down {
	position: relative;
}
.btn-down-link {
	content: "";
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: -35px;
	transform: translate(-50%, 0);
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: #0063dd;
	background-image: url(../img/1-header/btn-down.svg);
	background-repeat: no-repeat;
	background-position: center;
	animation-name: blue-circle;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes blue-circle {
	0% {
		box-shadow: 0 0 0 22px rgba(0, 99, 221, 0.23);
	}
	100% {
		box-shadow: 0 0 0 11px rgba(0, 99, 221, 0.23);
	}
}
