@import "nullstyle.scss";
@import "header.scss";
@import "features.scss";
@import "about.scss";
@import "work.scss";
@import "price.scss";
@import "testimonials.scss";
@import "news.scss";
@import "trial.scss";
@import "subscribe.scss";
@import "footer.scss";

html {
	overflow-x: hidden;
	width: 100%;
}

body {
	font-family: "Quicksand", sans-serif;
	font-weight: 400px;
	font-size: 16px;
	color: #000;

	overflow-x: hidden;
	width: 100%;
}
.wrapper {
	max-width: 1146px;
	margin: 0 auto;
}

// -------------
@media (max-width: 1700px) {
	.footer__btn-up {
		display: none;
	}
}
@media (max-width: 1020px) {
	.header {
		background: transparent;
		// background-size: 150% auto;
		// background-position: bottom left;
	}
	.header__menu,
	.btn-sign-up {
		display: none;
	}
	.menu__btn {
		display: block;
	}
	.devices {
		display: none;
	}
	//side menu
	.side__menu {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		margin-right: 5px;
		right: 0;
		top: 80px;
		background: #0063dd;
		border-radius: 25px;
		&-active {
			display: flex;
		}
	}
	.side__item {
		padding: 20px 60px;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
		&:first-child {
			padding-top: 40px;
		}
		&:last-child {
			padding-bottom: 40px;
		}
	}

	//about
	.about-img-back {
		&::before {
			display: none;
		}
	}
	//price
	.price {
		flex-direction: column;
		&__info {
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__cards {
			width: 90%;
		}
	}
	//testimonials
	.testimonials {
		&__back {
			display: none;
		}
		&__content {
			padding-left: 15px;
		}
	}
	//news
	.news {
		&__items {
			grid-template-columns: 1fr;
		}
	}
	//trial
	.trial {
		&__content {
			flex-direction: column;
			row-gap: 30px;
		}
	}
	//footer
	.footer {
		& .wrapper {
			flex-direction: column;
			align-items: center;
			row-gap: 25px;
		}
		&__info {
			width: auto;
			column-gap: 15px;
			// flex-wrap: wrap;
			margin: 0;
		}
		&__socials {
			width: auto;
			column-gap: 30px;
		}
		&__copyright {
			order: 3;
			text-align: center;
		}
	}
}
@media (max-width: 600px) {
	.header {
		&__btns {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
		}
	}
	.features {
		&__items {
			flex-direction: column;
			row-gap: 30px;
		}
	}
	.feature {
		&__item {
			align-self: center;
			max-width: 90%;

			&:nth-child(2) {
				top: 0;
			}
		}
	}
	//about
	.about {
		&__item {
			grid-template-columns: 1fr;

			&:nth-child(even) {
				& .about-img-back {
					order: 0;

					// & .about__img {
					// 	// height: 377px;
					// 	object-fit: cover;
					// }
				}
			}
		}
		&__title {
			margin-top: 30px;
		}
	}
	//work
	.work {
		&__steps {
			flex-direction: column;
			row-gap: 80px;
			background-image: unset;
		}
	}
	//price
	.price {
		&__cards {
			flex-direction: column;
			row-gap: 40px;
		}
	}
	.info__btn-month {
		padding-left: 20px;
		padding-right: 20px;
	}
	.info__btn-year {
		padding-left: 25px;
		padding-right: 25px;
	}
	//testimonials
	.testimonials {
		// &__content {
		// 	display: flex;
		// 	flex-direction: column;
		// }
		&__title {
			width: 100vw;
			// padding: 0 5px;
		}
		.review__card {
			max-width: 256px;
		}
	}
	//news
	.news {
		&__item {
			flex-direction: column;
		}
		&-item__img {
			width: 100%;
		}
		&__title {
			text-align: center;
		}
	}
	//trial
	.trial {
		&__content {
			max-width: 100vw;
			text-align: center;
		}
	}
	//subscribe
	.subscribe {
		&__form {
			width: 100%;
			display: flex;
			flex-direction: column;
			row-gap: 20px;
		}
		&__input-btn {
			float: unset;
			position: relative;
			border-radius: 25px;
		}
	}
}
