.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	// margin: 0 auto;
	background: #0f7bff;
	padding: 118px 0;
	&__logo {
		// text-align: center;
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		color: #fff;
		margin-bottom: 30px;
	}
	&__form {
		width: 558px;
		position: relative;
	}
	&__input {
		width: 100%;
		background: #0063dd;
		border-radius: 25px 25px 25px 25px;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #fff;
		padding: 12px 0 14px 28px;
		&::placeholder {
			color: #fff;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
		}
	}
	&__input-btn {
		cursor: pointer;
		float: right;
		position: absolute;
		right: 0px;
		padding: 12px 40px 14px;
		background: #fff;
		border-radius: 0px 25px 25px 0px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		color: #0063dd;
	}
}
